@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkiy-overflow-scrolling: touch;

    &:focus {
        outline: 0;
    }

}

html, body {
    height: 100%;
}

body {
    background: #ffffff;
    margin: 20px;
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);

    .allCalculate {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .totalCalculateBtn {
        width: 150px;
        height: 37px;
        background: #92DCE5;
        border-radius: 8px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: 300ms ease-in-out;

        &:hover {
            background: #42b7c7;
        }
    }
}


.implantCalculate {
    margin: 20px;
    display: flex;
    background: #ffffff;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.75);

    .made {
        display: flex;
        flex-direction: column;

        label {
            margin-right: 10px;
            font-size: 16px;
            color: #2B2D42;
            
        }

        h4 {
            font-size: 12px;
            color: #2B2D42;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .div1 {
            margin-top: 20px;
            display: flex;
            align-items: center;
 
            .checkbox {
                width: 17px;
                height: 17px;
                border-radius: 5px;
                border: 1px solid #E7EAFB;
                background: #ffffff;
                min-width: 17px;
                transition: 300ms background;
                margin-right: 15px;
            }

            
            }
        }

        .implantPrice{
            margin-top: 20px;
            font-size: 15px;
            color: #F865B0;
            font-weight: bold;
            text-transform: uppercase;
        }

        
    }

    .piece {

        .implantPiece {
          height: 36px; 
          line-height: 106px;
          font-size: 16px;
          border: 1px solid rgba(#2B2D42, 0.7);  
          border-radius: 5px;  
          margin-bottom: 20px;
          padding: 10px;
          &::placeholder {
            color: rgba(#2B2D42, 0.7);
            padding-left: 10px;
          }
        }

        .total {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                width: 150px;
                height: 37px;
                background: #92DCE5;
                border-radius: 8px;
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                transition: 300ms ease-in-out;

                &:hover {
                    background: #42b7c7;
                }
            }

            .totalPrice{
            font-size: 15px;
            color: #2B2D42;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 10px;
            }
            .nowEurPrice{
                color: #F865B0;
            }
        }
    }
